* {
      box-sizing: border-box;
}

.mdl-slider__container {
      margin: 0 !important;
}

header {
      padding: 0% 2%;
}

.full-width {
      width: 100%;
}

canvas {
      /* min-width: 25%;
      max-width: 49%; */
      width: 49%;
      image-rendering: pixelated;
}

dialog {
      width: 50% !important;
}

input#load-image-upload {
      display: none
}

#settings, #canvases {
      padding: 2%;
      width: 50%;
      display: inline-block;
}

#settings>* {
      margin-bottom: 4%;
}

.inline-block * {
      display: inline-block;
}

#canvases {
      position: absolute;
}

#kernel-vis {
      width: 50%;
}

#kernel-vis .row {
      margin: 1% 0%;
}

#kernel-vis * .block {
      margin: 0% 1%;
      padding: 0;
}

#kernel-vis * {
      display: inline-block;
}