* {
      box-sizing: border-box;
      outline: none;
}

#load-image-upload-button, #load-image-url {
      width: 49%;
}

button {
      user-select: none;
}

.mdl-slider__container {
      margin: 0 !important;
}

#kernel-weight-label {
      margin-top: 0;
}

header {
      height: 10%;
      padding: 1% 2%;
      background-color: #EEE;
      box-shadow: 2px 2px 1px #AAA;
      transition: all 1s ease;
}

header:hover {
      padding: 1% 4%;
      background-color: #FFF;
      box-shadow: 2px 2px 2px #CCC;
      transition: all 1s ease;
}

header h1 {
      margin-top: 0;
      text-shadow: 2px 2px 1px #AAA;
}

.full-width {
      width: 100%;
}

canvas {
      width: 49%;
      image-rendering: pixelated;
      box-shadow: 4px 4px 4px #AAA;
      transition: 1s all ease;
}

canvas:hover {
      box-shadow: 8px 8px 12px #CCC;
      transition: 1s all ease;
}

dialog {
      width: 50% !important;
}

input#load-image-upload {
      display: none
}

#settings, #canvases {
      padding: 2%;
      width: 50%;
      display: inline-block;
}

#settings>* {
      margin-bottom: 4%;
}

.inline-block {
      display: inline-block;
}

#canvases {
      position: absolute;
}

#kernel-vis {
      width: 50%;
      float: left;
}

#kernel-vis .row {
      width: 100%;
      margin: 1% 0%;
}

#kernel-vis * .block {
      height: 100%;
      margin: 0% 1%;
      padding: 0;
      transition: all 0.5s ease;
}

#kernel-vis * {
      display: inline-block;
}

#resolution-display {
      margin-left: 25px;
      display: inline-block;
}